/* general styling */
body{
    font-family: "Roboto", sans-serif;
    /* font-weight: 400, 700; */
    /* font-size: 16px; */
    background-color: hsl(234, 29%, 20%) ;
}

li {
    text-decoration: none;
}



/* the sign-up-class */

.sign-up-class{
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;
    position: relative;
    align-content: center;
    display: grid;
    border-radius: 2rem;
    padding: 2rem .5rem;
    top: 10rem;
    width: 50rem;
    height: 30rem;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    justify-content: space-between;
}

/* sign-in text styling */
.sign-up-text{
    position: relative;
    top: 2rem;
    left: 2rem;
}
.sign-up-text h1{
    color:black;
    font-weight: 700;
}
.list-text {
    display: inline-block;
    line-height: 20%;
}

/* sign-in image styling */
.sign-up-class img{
    width:21rem;
    position: relative;
    right: -2rem;
}
/* sign-in image hover styling */
.sign-up-img:hover, .sign-up-img:focus{
    transform: translateX(5rem) translateY(-1rem);
    cursor: pointer;
    
    transition: all 0.3s ease-in-out;
}


/* styling the list-icon of the promtion */
.list-icon {
    width: 1rem !important;
    padding-right: .5rem !important;
    position: relative !important;
    left: 0rem;
}


#email-input, #submit-button {
    padding: 1rem ;
    margin: .5rem ;
    border-radius:5px;
    width: 100%;
    border: .1px   black solid;
}

#email-input {
    width: 90.5%;

}

#submit-button{
    color: hsl(0, 0%, 100%);
    background-color: hsl(235, 18%, 26%);
    border:none;
    font-weight: 700;
    font-weight: 16px;
}

#email-input:hover, #submit-button:hover{
   cursor: pointer;
}


#submit-button:hover{
    background-image: linear-gradient(yellow, orange);    
}

/* linear-gradient */



.attribution{
    position: relative;
    top: 20rem;

}